__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.git
.github
data
outputs
.gitignore
README.md
requirements.txt
src/training.py
src/data_preprocessing.py
src/evaluate.py
.env
