GIT_KEY=your_github_personal_access_token
DOCKER_KEY=your_dockerhub_access_token_or_password
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_DEFAULT_REGION=us-east-1
